option {
  background-color: black;
  color: white;
}

.inputNewGame {
  width: 800px;
}

.inputDescription {
  height: 115px;
}

button.insertNewGame {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 130px;
}

@media (max-width: 768px) {
  .formAddGame {
    max-width: 90%;
  }

  .titleAddGame {
    text-align: center;
    margin-bottom: 10px;
  }

  button.insertNewGame {
    margin-top: 70px;
    margin-bottom: 110px;
  }
}
