.titleRegister {
  margin-top: 35px;
}

form {
  display: flex;
  flex-direction: column;
}

span > p {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

label {
  margin-top: 20px;
}

button.registerSend {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.errorRegister {
  margin-bottom: -20px;
}

@media (max-width: 767px) {
  .titleRegister {
    margin-top: 30px;
  }

  form {
    max-width: 90%;
  }

  span > p {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
  }

  label {
    margin-top: 15px;
  }

  button.registerSend {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
