.deleteGame {
  margin-top: 30px;
  margin-bottom: 80px;
  max-width: 100%;
}

.deleteGame form {
  width: 800px;
  max-width: 100%;
  display: inline;
}

.btnDeleteGame {
  margin-left: 15px;
}

.inputDeleteGame {
  width: 610px;
}

@media (max-width: 768px) {
  .deleteGame {
    max-width: 90%;
  }

  .titleDeleteGame {
    text-align: center;
  }

  .btnDeleteGame {
    margin: 15px auto;
    margin-right: 15px;
  }

  .deleteGame button {
    width: 125px;
    height: 45px;
  }

  .deleteGame form select {
    width: 100%;
  }
}
