.titleUserInfo {
  margin: 30px 0;
  font-size: 40px;
}

.divBtnsProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 80px 0;
}

.btnCallEditPage {
  margin-right: 20px;
}

.divUserInfo {
  border-radius: 5px;
  border: 2px solid var(--USE, #89347c);
  padding: 25px 100px 25px 25px;
  max-width: 95%;
}

.pUserInfo {
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .titleUserInfo {
    font-size: 20px;
  }

  .divBtnsProfile {
    margin: 40px 10px 70px;
  }

  .divBtnsProfile button {
    width: 135px;
    height: 45px;
  }

  .btnCallEditPage {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .divUserInfo {
    padding: 20px 60px 20px 20px;
  }

  .pUserInfo {
    margin-bottom: 3px;
  }
}
