option {
  background-color: black;
  color: white;
}

.titleGradientSearch {
  background: linear-gradient(96deg, #f77e75 42.13%, #89347c 83.23%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divSearchGame {
  margin-bottom: 50px;
}

.inputSearchName {
  width: 850px;
  background: url("../../assets/SearchGames/SearchIcon.svg") no-repeat left;
  background-size: 18px;
  background-position: 25px;
  padding-left: 70px;
  color: #fff;
}

.inputSearchCategory {
  width: 240px;
  margin: 0 18px;
  background: url("../../assets/SearchGames/DownIcon.svg") no-repeat left;
  background-size: 18px;
  background-position: 25px;
  padding-left: 70px;
  color: #fff;
}

.titleSearchGames {
  margin-bottom: 70px;
}

@media (max-width: 1024px) {
  .divSearchGame {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .inputSearchName {
    width: 90%;
    background-size: 15px;
    background-position: 20px;
    padding-left: 50px;
    margin-bottom: 10px;
  }

  .inputSearchCategory {
    width: 75%;
    margin: 0;
    background-size: 15px;
    background-position: 20px;
    padding-left: 70px;
    margin-bottom: 10px;
  }

  .titleSearchGames {
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 6px;
    margin-left: 6px;
    text-align: center;
  }
}
