.divGradientAddCategory {
  width: 800px;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 130px;
}

.addCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addCategory > form {
  width: 800px;
  display: inline;
}

.inputNewCategory {
  width: 610px;
}

button.insert {
  margin-left: 15px;
}

@media (max-width: 768px) {
  .divGradientAddCategory {
    margin-bottom: 90px;
  }

  .addCategory {
    margin: 0 20px;
  }

  .addCategory form {
    width: 100%;
    display: inline;
  }

  .inputNewCategory {
    width: 100%;
  }

  button.insert {
    margin: 15px auto 0;
  }
}
