.categoryButtons {
  width: 800px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.categoryButtons > p {
  margin-left: 20px;
  margin-top: 15px;
}

button.category {
  margin: 30px 12px 0px 12px;
}

@media (max-width: 767px) {
  .categoryButtons {
    margin-bottom: 50px;
  }

  .categoryButtons > p {
    margin: 15px 10px;
    text-align: center;
  }

  button.category {
    margin: 15px 6px 0px 6px;
    width: 140px;
  }
}
