body {
  opacity: 0.85;
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  max-width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.activeStyle {
  background: linear-gradient(90deg, #89347c 0%, #f77e75 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  display: flex;
}

li {
  margin-left: 70px;
}

.logo {
  margin: 40px;
}

.userLogin {
  margin-left: auto;
  margin-right: auto;
}

.dropdown {
  position: relative;
  display: block;
  width: 120px;
}

.dropdownContent {
  display: none;
  position: absolute;
  border-radius: 10px;
  min-width: 120px;
  z-index: 1;
  font-size: 15px;
  text-align: center;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 1;
}

.top:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .home,
  .profile,
  .login,
  .dropdownContent {
    display: none;
  }

  .dropdown:hover .dropdownContent {
    display: none;
  }

  body {
    font-size: 16px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  ul {
    display: flex;
  }

  li {
    margin: 0 10px;
  }

  .logo {
    width: 50px;
    margin: 20px 0px;
  }

  .userLogin {
    width: 40px;
    margin: 0;
  }

  .dropdownContent {
    font-size: 10px;
    text-align: left;
    padding: 3px 5px;
  }

  .dropdown a {
    width: fit-content;
  }

  .navbar a {
    width: fit-content;
  }

  .dropdown {
    position: relative;
    display: block;
    width: fit-content;
  }

  .logout {
    display: none;
  }

  .top {
    width: 25px;
  }
}
