.divEditGame {
  width: 100%;
}

.inputEditGame {
  width: 800px;
}

.inputDescription {
  height: 115px;
}

.divBtnsEditGame {
  display: flex;
  justify-content: center;
  margin: 90px 0 100px 0;
}

.btnEditGame {
  margin-right: 15px;
}

@media (max-width: 768px) {
  .divEditGame form {
    max-width: 90%;
  }

  .divEditGame {
      margin-top: 20px;
  }

  .divEditGame h2 {
    margin-bottom: 10px;
  }

  .inputDescription {
    height: 180px;
  }

  .divBtnsEditGame {
    margin: 70px 0 80px 0;
  }

  .divBtnsEditGame button {
    width: 130px;
    height: 45px;
  }

  .btnEditGame {
    margin-right: 10px;
  }
}
